<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Engineering Data Center</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Engineering Data Center</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/" class="sidebar-link">
                        <i class="lni lni-bar-chart align-middle"></i>
                        <span>Generator Harmonic</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/vibration" class="sidebar-link">
                        <i class="bi bi-clipboard-pulse"></i>
                        <span>Generator Vibration</span>
                    </a>
                </li>               
                <li class="sidebar-item">
                    <a href="/flow" class="sidebar-link">
                        <i class="bi bi-fan align-middle"></i>
                        <span>Turbine Discharge Flow</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="main text-bg-light">
            <main class="content px-3 py-4">
                <div class="container-fluid ">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">HYDRO TURBINE PERFORMANCE DASHBOARD</h3>
                        <div class="row">
                            <!--FLOW-->
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow">
                                    <div class="card-body py-4">
                                        <h5 class="mb-3 fw-bold">Total Discharge Flow</h5>
                                        <p>Real Time</p>
                                        <h2 id="totalFlowValue">0</h2>
                                    </div>
                                </div>
                            </div>

                            <!-- POWER-->
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow">
                                    <div class="card-body py-4">
                                        <h5 class="mb-3 fw-bold">Total Load Power</h5>
                                        <p>Real Time</p>
                                        <h2 id="totalLoadValue">0</h2>
                                    </div>
                                </div>
                            </div>

                            <!-- SWC -->
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow">
                                    <div class="card-body py-4">
                                        <h5 class="mb-3 fw-bold">Total SWC</h5>
                                        <p>Real Time</p>
                                        <h2 id="swcValue">0</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mb-3"><i class="bi bi-stopwatch-fill"></i>  Real Time Data</p>  
                        <div class="row">
                            <!-- TURBINE 1 -->
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow">
                                    <div class="card-body py-4">
                                        <h5 class="mb-3 fw-bold">Turbine #1</h5>

                                        <table class="table table-sm mb-0">
                                            <tbody id="turbine-T1">
                                                <tr><td>Discharge Flowrate (Q)</td><td>-</td></tr>
                                                <tr><td>Water Pressure (p)</td><td>-</td></tr>
                                                <tr><td>Water Consumption (V)</td><td>-</td></tr>
                                                <tr><td>Water Power (P0)</td><td>-</td></tr>
                                                <tr><td>Load Power (P)</td><td>-</td></tr>
                                                <tr><td>Turbine Efficiency (n)</td><td>-</td></tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <!-- TURBINE 2 -->
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow">
                                    <div class="card-body py-4">
                                        <h5 class="mb-3 fw-bold">Turbine #2</h5>

                                        <table class="table table-sm mb-0">
                                            <tbody id="turbine-T2">
                                                <tr><td>Discharge Flowrate (Q)</td><td>-</td></tr>
                                                <tr><td>Water Pressure (p)</td><td>-</td></tr>
                                                <tr><td>Water Consumption (V)</td><td>-</td></tr>
                                                <tr><td>Water Power (P0)</td><td>-</td></tr>
                                                <tr><td>Load Power (P)</td><td>-</td></tr>
                                                <tr><td>Turbine Efficiency (n)</td><td>-</td></tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <!-- TURBINE 3 -->
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow">
                                    <div class="card-body py-4">
                                        <h5 class="mb-3 fw-bold">Turbine #3</h5>

                                        <table class="table table-sm mb-0">
                                            <tbody id="turbine-T3">
                                                <tr><td>Discharge Flowrate (Q)</td><td>-</td></tr>
                                                <tr><td>Water Pressure (p)</td><td>-</td></tr>
                                                <tr><td>Water Consumption (V)</td><td>-</td></tr>
                                                <tr><td>Water Power (P0)</td><td>-</td></tr>
                                                <tr><td>Load Power (P)</td><td>-</td></tr>
                                                <tr><td>Turbine Efficiency (n)</td><td>-</td></tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mb-3"><i class="bi bi-stopwatch-fill"></i>  Real Time Chart</p>  
                        <div class="row ">
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #1 - Discharge Flowrate</h5>
                                        <canvas id="timeseries-T1" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #2 - Discharge Flowrate</h5>
                                        <canvas id="timeseries-T2" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #3 - Discharge Flowrate</h5>
                                        <canvas id="timeseries-T3" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #1 - Water & Load Power</h5>
                                        <canvas id="load-T1" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #2 - Water & Load Power</h5>
                                        <canvas id="load-T2" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #3 - Water & Load Power</h5>
                                        <canvas id="load-T3" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mb-3"><i class="bi bi-stopwatch-fill"></i>  Scatter Chart</p> 
                        <div class="row ">
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #1 - Efficiency & Load Power</h5>
                                        <canvas id="eff-T1" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #2 - Efficiency & Load Power</h5>
                                        <canvas id="eff-T2" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #3 - Efficiency & Load Power</h5>
                                        <canvas id="eff-T3" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #1 - Flowrate & Load Power</h5>
                                        <canvas id="flowScatt-T1" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #2 - Flowrate & Load Power</h5>
                                        <canvas id="flowScatt-T2" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #3 - Flowrate & Load Power</h5>
                                        <canvas id="flowScatt-T3" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="mb-3"><i class="bi bi-stopwatch-fill"></i>  Historical Chart</p>  
                        <div class="row ">
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #1 - Water Consumption & Power</h5>
                                        <select id="typeSelect-T1">
                                            <option value="daily">Daily</option>
                                            <option value="monthly">Monthly</option>
                                        </select>
                                        <div style="height:250px;">
                                            <canvas id="flowhistory-T1"></canvas>
                                        </div>
                                        <div style="height:250px;">
                                            <canvas id="loadhistory-T1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #2 - Water Consumption & Power</h5>
                                        <select id="typeSelect-T2">
                                            <option value="daily">Daily</option>
                                            <option value="monthly">Monthly</option>
                                        </select>
                                        <div style="height:250px;">
                                            <canvas id="flowhistory-T2"></canvas>
                                        </div>
                                        <div style="height:250px;">
                                            <canvas id="loadhistory-T2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card border-0 mb-4 shadow" >
                                    <div class="card-body py-4">
                                        <h5 class="fw-bold">Turbine #3 - Water Consumption & Power</h5>
                                        <select id="typeSelect-T3">
                                            <option value="daily">Daily</option>
                                            <option value="monthly">Monthly</option>
                                        </select>
                                        <div style="height:250px;">
                                            <canvas id="flowhistory-T3"></canvas>
                                        </div>
                                        <div style="height:250px;">
                                            <canvas id="loadhistory-T3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
    <script type="module" src="/ws.js"></script>
    <script type="module" src="/flow.js"></script>


</body>

</html>